<div class="card shadow-lg mb-5 bg-white rounded" style="width: 14rem; height: 24rem;">
    <img class="card-img-top" [src]="bookDetails.image" height="200" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{bookDetails.title}}</h5>
        <p class="text-muted">By {{bookDetails.author}}<br>
            {{bookDetails.price.currency}} {{bookDetails.price.value}} </p>

        <div *ngIf="!bookDetails.quantity || bookDetails.quantity ===0 ; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock><button class="cartButton" (click)="addToCart(bookDetails)" class="btn btn-dark">Add to
                cart</button></ng-template>
        <ng-template #elseBlock>
            <div class="btn-group align-items-end" role="group">
                <button type="button" class="btn btn-sm pt-1 btn-success" (click)="delOneProduct(bookDetails)">-</button>
                <button type="button" class="btn btn-sm pt-1 btn-dark">{{bookDetails.quantity}}</button>
                <button type="button" class="btn btn-sm pt-1 btn-success" (click)="addOneProduct(bookDetails)">+</button>
            </div>
        </ng-template>

    </div>
</div>